<div id="mission" data-section="mission" class="xai-section">
  <div class="xai-2col">
    
    <div class="xai-2col-inner left">
      
      <div class="xai-tabs-container">
	<ul class="xai-tabs xai-three">
	  {{ range .Site.Params.mission.item }}
	  {{ if eq .weight 1}}<li class="active">{{ else }}<li>{{ end }}
	    <a href="#" data-tab={{ .name }}>{{ .title | markdownify }}</a>
	  </li>
	  {{ end }}
	</ul>

	{{ range .Site.Params.mission.item }}
	{{ if eq .weight 1}}
	<div class="xai-tab-content active" data-tab-content={{ .name }}>
	{{ else }}
	<div class="xai-tab-content" data-tab-content={{ .name }}>
	{{ end }}
	  <h2>{{ .subtitle | markdownify }}</h2>
	  {{ .description | markdownify }}
	</div>
	{{ end }}


      </div>
      
    </div>
    
  </div>
  
  <div class="xai-2col xai-text">
    <div class="xai-grid">
      {{ if .Site.Params.mission.images.enable }}
      {{ range .Site.Params.mission.images.list }}
      <div class="xai-grid-item" style="background-image: url({{ with .img }}{{ . | absURL }}{{ end }});"></div>
      {{ end }}
      {{ end }}
      
    </div>
  </div>
</div> <!-- END xai-mission -->
