<div id="team" data-section="team" class="xai-section">
  <div class="container">
    {{ with .Site.Params.team }}
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center xai-heading">
				<h2>{{ .title }}</h2>
				<p>{{ .description | default "" | markdownify }}</p>
			</div>
		</div>
    {{ end }}
		<div class="row">
			{{ range .Site.Data.team }}
			<div class="col-md-3">
				<div class="person">
					<a href="{{ .url }}">
						<img src="{{ .img | absURL }}" alt="" class="img-responsive">
					</a>
					<h3 href="{{ .url }}">{{ .name }}</h3>
					<h4>{{ .position }}</h4>
					<p>{{ .description | default "" | markdownify }}</p>
					<ul class="social">
						{{ if isset . "facebook" }}
						<li><a href="{{ .facebook }}"><i class="icon-facebook"></i></a></li>
						{{ end }}
						{{ if isset . "twitter" }}
						<li><a href="{{ .twitter }}"><i class="icon-twitter"></i></a></li>
						{{ end }}
						{{ if isset . "dribbble" }}
						<li><a href="{{ .dribble }}"><i class="icon-dribbble"></i></a></li>
						{{ end }}
						{{ if isset . "instagram" }}
						<li><a href="{{ .instagram }}"><i class="icon-instagram"></i></a></li>
						{{ end }}
						{{ if isset . "github" }}
						<li><a href="{{ .github }}"><i class="icon-github"></i></a></li>
						{{ end }}
						{{ if isset . "linkedin" }}
						<li><a href="{{ .linkedin }}"><i class="icon-linkedin"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</div> <!-- END xai-team -->
